* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Header*/


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #c2762b;
}

.img-header img {
  width: 5vw;
}

.nav ol {
  display: flex;
}

.nav ol li {
  margin: 0px 30px;
  list-style: none;
}

.nav ol li a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-size: 20px;
  border-bottom: 1px solid black;
  border-radius: 3px;
}


.nav ol li a:hover {
  transition: 0.5s;
  color: #fff;
  border-bottom: 0px;
}

.container-form {
  margin: 20px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*Main*/

.img-main img {
  width: 100%;
  height: 90vh;
}

.ckecbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#btnPedido {
  width: 25vw;
  margin: 20px 0px;
}

/*Página Pedidos*/

#table {
  margin: 50px auto;
  width: 80vw;
}

.title-list-pedidos {
  text-align: center;
  margin: 20px 20px;
  border-bottom: 1px solid black;
  border-radius: 5px;
}

#cancelarPedido {
  background-color: brown;
  padding: 10px 15px;
  border: 1px solid black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

#editarPedido {
  background-color: orange;
  padding: 10px 15px;
  border: 1px solid black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/*Footer*/

.footer {
  background-color: #c2762b;
  text-align: center;
  padding: 2% 0;
  font-weight: 800;
}